@charset "UTF-8";

@media all {
* {
   margin: 0px;
   padding: 0px;
   
  
}
aside > img {
    width: 300px;
    height: 200px;
}
aside > img#tv {
 left: 400px;

}


p#informacao {
    
    text-align: justify;
 }

}

:root {
    --cor0: #ebe5c5;
    --cor1: #83e1ad;
    --cor2: #3ddc84; 
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
}

@media screen  and (min-width: 80px) and (max-width: 660px) {
    body#corpo {
    padding: 10px;   
    /*display: block;    
    position: relative;*/
    width: auto;
    height: auto;
    }  
   
    
    aside#imagem1 {
    
        /*position: relative;*/
        left: 10px;
        top: 600px;
        width: 80px;
        height: 90px;


      
    }  

    aside#imagem2 > img#tv {
      /* position: absolute;*/ 
        top: 300px;
        left: 10px;
        width: 300px;
        height: 250px;
       }
       
       select#flista {
        position: absolute;
        display: block;
        top: 383px;
        left: 180px;
        width: 170px;
        height: 160px;
    } 
    footer {
        position: relative;
        top: 500px;
        width: 660px;
        height: auto;


    } 
}



/*@media screen  and (min-width: 768px) and (max-width: 992px) {*/
@media screen  and (min-width:661px) and (max-width: 992px) {
    body#corpo {
      padding: 10px;  
      display: block;  
     /* position: relative;*/  
      width: auto; /*992*/
    }

    aside > img {
        
        position: absolute;
        left: 460px;
        top: 200px;
    }     
        select#flista {
            display: block;
            position: relative;  
            width: 150px;
            left: 400px;
        } 
    
    }


@media screen and (min-width: 992px) {

    body#corpo {
      padding: 10px;   
      display: block;  
      width: 100%;
    } 
    aside > img {
        position: absolute;
        left: 800px;
        top: 200px;
    }
    aside > img#tv {
       /* position: absolute;*/
        top: 200px;
        left: 500px;
        width: 300px;
        height: 200px;
       }
   select#flista {
        display: block;
        position: relative;  
        top: 200px;  
        width: 150px;
        left: 500px;
    } 
    footer {
        top: 5000;
        width: 100%;

    }  
}












body > article > p {
  color:  rgb(20, 1, 1);  
  margin-right: auto;
  text-align: justify;
  width: auto; 
} 

a {
    background-color: white;
} 
 a:hover {
    background-color: rgb(21, 145, 124);
 }



 




h1#centrado{
    font-family: var(--fonte-padrao);
    margin: auto;
    text-align: center;
}

h1:hover {
    background-color: bisque;
}


footer {
    /*display: block;*/
    background-color: var(--cor5);
    color:blue;
    width: 100%;
    font-size: 0.8em;
    padding: 5px;

}

footer a {
   color: var(--cor5);
   font-weight: bolder;
   text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor1);

}

footer p#rodape {
    

    color: white;
}

footer a#ligado {
     
    color: #063d1e;
}    
